<div hlmSidebarWrapper>
  <hlm-sidebar>
    <div hlmSidebarHeader>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button class="text-sm h-10 p-0 m-0" hlmSidebarMenuButton>
            <img src="/bike.svg" class="w-8 ml-2" alt="" />
            <h2 class="font-bold text-lg ml-4">Cycle Now</h2>
          </button>
        </li>
      </ul>
    </div>
    <div hlmSidebarContent>
      <div hlmSidebarContent>
        <div hlmSidebarGroup>
          <!-- <div hlmSidebarGroupLabel class="text-md font-bold">Dashboard</div> -->
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of _items; track item.title) {
                <hlm-collapsible [expanded]="item.defaultOpen" class="group/collapsible">
                  <li hlmSidebarMenuItem class="pt-3">
                    <button
                      hlmCollapsibleTrigger
                      hlmSidebarMenuButton
                      class="flex w-full items-center justify-between"
                    >
                      <ng-icon [name]="item.icon" />
                      <span class="text-sm">{{ item.title }}</span>
                      <ng-icon
                        name="lucideChevronRight"
                        class="ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90"
                        hlm
                      />
                    </button>
                    <hlm-collapsible-content>
                      <ul hlmSidebarMenuSub>
                        @for (subItem of item.items; track subItem.title) {
                          <li hlmSidebarMenuSubItem>
                            <button hlmSidebarMenuSubButton class="w-full">
                              <span class="text-sm">{{ subItem.title }}</span>
                            </button>
                          </li>
                        }
                      </ul>
                    </hlm-collapsible-content>
                  </li>
                </hlm-collapsible>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div hlmSidebarFooter>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button class="text-sm" hlmSidebarMenuButton [hlmDropdownMenuTrigger]="menu">
            Settings
            <ng-icon name="lucideChevronUp" class="ml-auto" />
          </button>
          <ng-template #menu>
            <hlm-dropdown-menu class="w-60">
              <button class="text-sm" hlmDropdownMenuItem>Account</button>
              <button class="text-sm" hlmDropdownMenuItem>Billing</button>
              <button class="text-sm" hlmDropdownMenuItem (click)="signOut()">Sign out</button>
            </hlm-dropdown-menu>
          </ng-template>
        </li>
      </ul>
    </div>
  </hlm-sidebar>
  <ng-content />
</div>
