<!-- https://dribbble.com/shots/5655338-Login-Screen-Web-App-Design -->
<section class="login h-screen">
  <div class="flex flex-col-reverse lg:flex-row">
    <section class="container mt-10 min-w-6/12">
      <img src="/bike.svg" class="w-10" alt="picture of cycle" />
      <section class="pt-20">
        <h1 class="text-5xl font-semibold">Welcome back to cycleNow</h1>
        <p class="mt-12">
          Log in to cycleNow to jump back into your stats, track your next route, and hit new
          milestones
        </p>
      </section>

      <div>
        <l-form></l-form>
      </div>
      <div class="login-options">
        <l-login-options></l-login-options>
      </div>
    </section>
    <section class="container bg-black lg:h-screen p-0 min-w-5/10">
      <h1>picture</h1>
      <img class="w-screen rounded-l-lg mt-20" src="/cycle.jpg" alt="" />
    </section>
  </div>
</section>
