<form class="p-2 mt-10" novalidate (submit)="onSubmit($event)">
  @let email = loginform.email;
  <hlm-field class="mt-3">
    <label class="text-sm font-semibold" hlmFieldLabel for="email">Email </label>
    <input
      [formField]="email"
      class="rounded-sm"
      hlmInput
      type="text"
      placeholder="userName"
      autocomplete="email"
    />
    @if (email().invalid() && (email().touched() || email().dirty())) {
      @for (error of email().errors(); track error.kind) {
        <p class="text-sm text-red-600">{{ error.message }}</p>
      }
    }
  </hlm-field>

  @let password = loginform.password;

  <label class="text-sm font-semibold mt-3" hlmFieldLabel for="password">Password </label>
  <hlm-input-group class="mt-2 rounded-sm">
    <input
      [formField]="password"
      hlmInputGroupInput
      [type]="inputType()"
      placeholder="password"
      autocomplete="password"
    />

    <hlm-input-group-addon align="inline-end">
      <ng-icon class="cursor-pointer" [name]="icon()" (click)="toogleConfirm()" />
    </hlm-input-group-addon>
  </hlm-input-group>
  @if (password().invalid() && (password().touched() || password().dirty())) {
    @for (error of password().errors(); track error.kind) {
      <p class="text-sm text-red-600">{{ error.message }}</p>
    }
  }

  <button
    [disabled]="loginform().submitting()"
    class="mt-5 min-w-2/2 bg-black text-amber-50 hover:bg-gray-800"
    hlmBtn
    variant="secondary"
  >
    {{ loginform().submitting() ? 'Sumitting...' : 'Login'
    }}<ng-icon class="cursor-pointer" name="lucideArrowRight" />
  </button>
</form>
